.api {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex: 1 0 auto;
}

.api_left-column {
  min-width: 260px;
  width: 260px;
  max-height: 100vh;
  height: 100vh;

  background-color: #eee;
}

.api_menu {
  position: fixed;
  top: 0;
  left: 0;

  min-width: 260px;
  width: 260px;
  padding: 150px 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;

  background-color: #eee;
}

.api_menu-title {
  display: none;
}

.api_menu-item {
  display: block;
  width: 100%;
  padding: 10px 20px;

  text-decoration: none;
  color: #000;

  // &:not(:last-child) {
  //   margin-bottom: 20px;
  // }

  &--active {
    padding-left: 17px;
    color: $theme-color-1;

    border-left: 3px solid $theme-color-1;
  }

  &.api_menu-item--title {
    position: relative;

    &:hover {
      cursor: pointer;
    }

    &::before {
      content: "";

      position: absolute;
      top: 50%;
      left: 8px;
      margin-top: -4px;

      border: 4px solid transparent;
      border-left-color: black;
    }

    &.js-open + .api_menu-submenu {
      display: block;
    }

    &.js-open::before {
      margin-top: -2px;
      border: 4px solid transparent;
      border-top-color: black;
    }
  }

  &--sub {
    padding-left: 40px;
  }
}

@media(min-width: 1021px) {
  .api_menu-item--sub.api_menu-item--active {
    padding-left: 37px;
  }
}

.api_menu-submenu {
  display: none;
}

.api_mobile-menu-bar {
  display: none;
}

.api_mobile-close-button {
  display: none;
}

.api_content {
  padding: 140px 30px 60px;
  flex-grow: 1;
}

.api_right-column {
  width: 260px;
  min-width: 260px;
}

.api_title {
  margin: 0;
  margin-bottom: 25px;

  font-size: 30px;
  line-height: 34px;
}

.api_content-list {
  margin: 0;
  padding-left: 30px;
}

.api_content-item {
  list-style-type: disc;
}

.api_code-block {
  padding: 10px 0 10px 20px;
  margin-bottom: 30px;
  background-color: #f8f8f8;
  max-width: 1200px;

  font-size: 15px;

  word-break: break-all;
  overflow-x: auto;
}

.api_code {
  font-family: $code-font;
  font-size: 15px;
}

.api_table-block {
  margin-bottom: 30px;
  overflow-x: auto;
}

.api_text-block {
  max-width: 700px;
  margin-bottom: 30px;
}

.api_subtitle {
  margin: 50px 0 30px;

  font-size: 24px;
  line-height: 30px;
}

.api_table {
  width: 100%;
  max-width: 1200px;
  font-size: 15px;
  border-collapse: collapse;

  & th,
  & td {
    padding: 20px 15px;
    text-align: left;
    vertical-align: top;
    border: 1px solid #bbb;
  }

  & th {
    font-weight: 600;
    background-color: #eee;
  }

  & .code {
    font-family: $code-font;
  }

  & .marker {
    padding: 5px;
    margin: 0 5px;
    font-family: $code-font;
    background-color: #efefef;
  }
}

// .api_pagination {
//   position: fixed;
//   bottom: 0;
//   right: 0;

//   width: 260px;

//   &-link {
//     @include link-reset;

//     display: flex;
//     flex-direction: column;
//     padding: 15px 15px 15px 25px
//   }
// }

@media(max-width: 1020px) {
  .api_left-column {
    display: none;
  }

  .api_content {
    padding: 100px 5%;

    font-size: 14px;
  }

  .api_menu {
    display: none;

    width: 100%;
    padding-top: 0;

    background-color: #fff;

    z-index: 1000;

    &.js--show {
      display: flex;
    }
  }

  .api_menu-submenu {
    padding-bottom: 0;
  }

  .api_menu-title {
    display: block;

    margin: 0;
    padding: 20px 60px;

    font-size: 15px;
    line-height: 17px;

    text-align: center;
  }

  .api_menu-item {
    position: relative;

    width: 100%;
    padding: 15px 50px 15px 20px;

    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: #000;

    border-top: 1px solid #ddd;

    &--sub {
      padding-left: 40px;
    }

    &:not(:last-child) {
      margin-bottom: 0;
    }

    &:not(.api_menu-item--sub):last-of-type {
      border-bottom: 1px solid #ddd;
    }

    &::before {
      content: "";

      position: absolute;
      top: 50%;
      right: 20px;

      width: 10px;
      height: 10px;

      transform: translateY(-50%);
      background-image: url('../img/right-arrow.svg');
      background-repeat: no-repeat;
      background-size: 100% auto;
    }

    &--active {
      color: #000;

      border-left: none;
    }

    &.api_menu-item--title {
      &::before {
        top: 50%;
        left: 8px;
        margin-top: -2px;

        border: 4px solid transparent;
        border-left-color: black;
      }

      &.js-open::before {
        margin-top: 2px;
        border: 4px solid transparent;
        border-top-color: black;
      }
    }
  }

  .api_mobile-menu-bar {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    padding-left: 5%;
    padding-right: 5%;

    border-bottom: 1px solid #ddd;
    background-color: #fff;
    z-index: 10;
  }

  .api_mobile-menu-link {
    margin-left: auto;
    width: 147px;
    height: 19px;
  }

  .api_mobile-menu-button {
    width: 35px;
    height: 35px;

    border: none;
    background-color: transparent;
    background-image: url('../img/menu.svg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .api_mobile-close-button {
    position: fixed;
    top: 20px;
    right: 20px;

    display: inline-block;
    width: 20px !important;
    height: 20px;

    border: none;
    background-color: transparent;
    background-image: url('../img/close.svg');
    background-size: auto 100%;
    background-position: right center;
    background-repeat: no-repeat;
  }

  .api {
    flex-direction: column;
  }

  .api_content {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
  }

  .api_content-block {
    width: 100%;
  }

  .api_code-block {
    width: 100%;
  }

  .api_code {
    font-size: 13px;
  }

  .api_table {
    font-size: 12px;
  }
}

@media(max-width: 767px) {
  .api_title {
    font-size: 26px;
    line-height: 30px;
  }

  .api_subtitle {
    font-size: 20px;
    line-height: 24px;
  }
}
